.icon_sty .plagiarism_checker{background-image: url(../webimages/dark_icons/plagiarism_checker.svg);}
.icon_sty .article_rewriter{background-image: url(../webimages/dark_icons/article_rewriter.svg);}
.icon_sty .garammar_checker{background-image: url(../webimages/dark_icons/grammar_checker.svg);}
.icon_sty .word_counter{background-image: url(../webimages/dark_icons/word_counter.svg);}
.icon_sty .spell_checker{background-image: url(../webimages/dark_icons/spell_checker.svg);}
.icon_sty .paraphrasing{background-image: url(../webimages/dark_icons/paraphrasing.svg);}
.icon_sty .md5_generator{background-image: url(../webimages/dark_icons/md5_generator.svg);}
.icon_sty .uppercase{background-image: url(../webimages/dark_icons/uppercase.svg);}
.icon_sty .word_combiner{background-image: url(../webimages/dark_icons/word_combiner.svg);}
.icon_sty .img_text{background-image: url(../webimages/dark_icons/img_text.svg);}
.icon_sty .translate_english{background-image: url(../webimages/dark_icons/translate_english.svg);}
.icon_sty .text_img{background-image: url(../webimages/dark_icons/text_img.svg);}
.icon_sty .reverse_img{background-image: url(../webimages/dark_icons/reverse_img.svg);}
/* .icon_sty .logo_maker{background-image: url(../webimages/dark_icons/logo_maker.svg);} */
.icon_sty .img_compression{background-image: url(../webimages/dark_icons/img_compression.svg);}
.icon_sty .favicon_generator{background-image: url(../webimages/dark_icons/favicon_generator.svg);}
.icon_sty .video_gif{background-image: url(../webimages/dark_icons/video_gif.svg);}
.icon_sty .img_resizer{background-image: url(../webimages/dark_icons/img_resizer.svg);}
.icon_sty .crop_img{background-image: url(../webimages/dark_icons/crop_img.svg);}
.icon_sty .convert_jpg{background-image: url(../webimages/dark_icons/convert_jpg.svg);}
.icon_sty .rgb_hex{background-image: url(../webimages/dark_icons/rgb_hex.svg);}
.icon_sty .png_jpg{background-image: url(../webimages/dark_icons/png_jpg.svg);}
.icon_sty .jpg_png{background-image: url(../webimages/dark_icons/jpg_png.svg);}
.icon_sty .keyword_position{background-image: url(../webimages/dark_icons/keyword_position.svg);}
.icon_sty .keywords_density{background-image: url(../webimages/dark_icons/keywords_density.svg);}
.icon_sty .keywords_suggestions{background-image: url(../webimages/dark_icons/keywords_suggestions.svg);}
.icon_sty .keyword_research{background-image: url(../webimages/dark_icons/keyword_research.svg);}
.icon_sty .keyword_competition{background-image: url(../webimages/dark_icons/keyword_competition.svg);}
.icon_sty .related_keyword{background-image: url(../webimages/dark_icons/related_keyword.svg);}
.icon_sty .long_tail{background-image: url(../webimages/dark_icons/long_tail.svg);}
.icon_sty .rich_domains{background-image: url(../webimages/dark_icons/rich_domains.svg);}
.icon_sty .seo_keyword{background-image: url(../webimages/dark_icons/seo_keyword.svg);}
.icon_sty .keyword_analyzer{background-image: url(../webimages/dark_icons/keyword_analyzer.svg);}
.icon_sty .keyword_overview{background-image: url(../webimages/dark_icons/keyword_overview.svg);}
.icon_sty .keyword_difficulty{background-image: url(../webimages/dark_icons/keyword_difficulty.svg);}
.icon_sty .paid_keyword{background-image: url(../webimages/dark_icons/paid_keyword.svg);}
.icon_sty .backlink_checker{background-image: url(../webimages/dark_icons/backlink_checker.svg);}
.icon_sty .backlink_maker{background-image: url(../webimages/dark_icons/backlink_maker.svg);}
.icon_sty .website_link_count{background-image: url(../webimages/dark_icons/website_link_count.svg);}
.icon_sty .website_broken_link{background-image: url(../webimages/dark_icons/website_broken_link.svg);}
.icon_sty .link_price{background-image: url(../webimages/dark_icons/link_price.svg);}
.icon_sty .reciprocal{background-image: url(../webimages/dark_icons/reciprocal.svg);}
.icon_sty .website_link_analyzer{background-image: url(../webimages/dark_icons/website_link_analyzer.svg);}
.icon_sty .broken_backlink{background-image: url(../webimages/dark_icons/broken_backlink.svg);}
.icon_sty .valuable_backlink{background-image: url(../webimages/dark_icons/valuable_backlink.svg);}
.icon_sty .backlinks_competitors{background-image: url(../webimages/dark_icons/backlinks_competitors.svg);}
.icon_sty .anchor_text{background-image: url(../webimages/dark_icons/anchor_text.svg);}
.icon_sty .seo_score{background-image: url(../webimages/dark_icons/seo_score.svg);}
.icon_sty .pagerank{background-image: url(../webimages/dark_icons/pagerank.svg);}
.icon_sty .online_ping{background-image: url(../webimages/dark_icons/online_ping.svg);}
.icon_sty .page_speed{background-image: url(../webimages/dark_icons/page_speed.svg);}
.icon_sty .page_size{background-image: url(../webimages/dark_icons/page_size.svg);}
.icon_sty .page_snooper{background-image: url(../webimages/dark_icons/page_snooper.svg);}
.icon_sty .hit_coounter{background-image: url(../webimages/dark_icons/hit_coounter.svg);}
.icon_sty .xml_sitemap{background-image: url(../webimages/dark_icons/xml_sitemap.svg);}
.icon_sty .url_rewriting{background-image: url(../webimages/dark_icons/url_rewriting.svg);}
.icon_sty .screen_resolution{background-image: url(../webimages/dark_icons/screen_resolution.svg);}
.icon_sty .url_encoder{background-image: url(../webimages/dark_icons/url_encoder.svg);}
.icon_sty .adsense_calculator{background-image: url(../webimages/dark_icons/adsence_calculator.svg);}
.icon_sty .graph_checker{background-image: url(../webimages/dark_icons/graph_checker.svg);}
.icon_sty .graph_generator{background-image: url(../webimages/dark_icons/graph_generator.svg);}
.icon_sty .qr_code{background-image: url(../webimages/dark_icons/qr_code.svg);}
.icon_sty .htaccess_redirect{background-image: url(../webimages/dark_icons/htaccess_redirect.svg);}
.icon_sty .get_http{background-image: url(../webimages/dark_icons/get_http.svg);}
.icon_sty .twitter_card{background-image: url(../webimages/dark_icons/twitter_card.svg);}
.icon_sty .internet_speed{background-image: url(../webimages/dark_icons/internet_speed.svg);}
.icon_sty .wordpress_theme{background-image: url(../webimages/dark_icons/wordpress_theme.svg);}
.icon_sty .instant_search{background-image: url(../webimages/dark_icons/instant_search.svg);}
.icon_sty .virus_scan{background-image: url(../webimages/dark_icons/virus_scan.svg);}
.icon_sty .screenshot_generator{background-image: url(../webimages/dark_icons/screenshot_generator.svg);}
.icon_sty .secure_email{background-image: url(../webimages/dark_icons/secure_email.svg);}
.icon_sty .mobile_friendly{background-image: url(../webimages/dark_icons/mobile_friendly.svg);}
.icon_sty .video_downloader{background-image: url(../webimages/dark_icons/video_downloader.svg);}
.icon_sty .facebook_downloader{background-image: url(../webimages/dark_icons/facebook_downloader.svg);}
.icon_sty .soundcloud{background-image: url(../webimages/dark_icons/soundcloud.svg);}
.icon_sty .vimeo_downloader{background-image: url(../webimages/dark_icons/vimeo_downloader.svg);}
.icon_sty .instagaram_downloader{background-image: url(../webimages/dark_icons/instagram_downloader.svg);}
.icon_sty .minify_css{background-image: url(../webimages/dark_icons/minify_css.svg);}
.icon_sty .minify_html{background-image: url(../webimages/dark_icons/minify_html.svg);}
.icon_sty .minify_js{background-image: url(../webimages/dark_icons/minify_js.svg);}
.icon_sty .robots_txt{background-image: url(../webimages/dark_icons/robots_txt.svg);}
.icon_sty .url_shortener{background-image: url(../webimages/dark_icons/url_shortener.svg);}
.icon_sty .domain_overview{background-image: url(../webimages/dark_icons/domain_overview.svg);}
.icon_sty .url_opener{background-image: url(../webimages/dark_icons/url_opener.svg);}
.icon_sty .link_tracker{background-image: url(../webimages/dark_icons/link_tracker.svg);}
.icon_sty .reverse_ip{background-image: url(../webimages/dark_icons/reverse_ip.svg);}
.icon_sty .server_status{background-image: url(../webimages/dark_icons/server_status.svg);}
.icon_sty .class_ip{background-image: url(../webimages/dark_icons/class_ip.svg);}
.icon_sty .code_text{background-image: url(../webimages/dark_icons/code_text.svg);}
.icon_sty .alexa_comparison{background-image: url(../webimages/dark_icons/alexa_comparison.svg);}
.icon_sty .page_comparison{background-image: url(../webimages/dark_icons/page_comparison.svg);}
.icon_sty .spider_simulator{background-image: url(../webimages/dark_icons/spider_simulator.svg);}
.icon_sty .comparison_search{background-image: url(../webimages/dark_icons/comparison_search.svg);}
.icon_sty .google_cache{background-image: url(../webimages/dark_icons/google_cache.svg);}
.icon_sty .whois_lookup{background-image: url(../webimages/dark_icons/whois_lookup.svg);}
.icon_sty .mozrank_checker{background-image: url(../webimages/dark_icons/mozrank_checker.svg);}
.icon_sty .page_authority{background-image: url(../webimages/dark_icons/page_authority.svg);}
.icon_sty .google_index{background-image: url(../webimages/dark_icons/google_index.svg);}
.icon_sty .alexa_checker{background-image: url(../webimages/dark_icons/alexa_checker.svg);}
.icon_sty .redirect_checker{background-image: url(../webimages/dark_icons/redirect_checker.svg);}
.icon_sty .similar_site{background-image: url(../webimages/dark_icons/similar_site.svg);}
.icon_sty .cloaking_checker{background-image: url(../webimages/dark_icons/cloaking_checker.svg);}
.icon_sty .google_malware{background-image: url(../webimages/dark_icons/google_malware.svg);}
.icon_sty .find_facebook{background-image: url(../webimages/dark_icons/find_facebook.svg);}
.icon_sty .check_gzip{background-image: url(../webimages/dark_icons/check_gzip.svg);}
.icon_sty .ssl_checker{background-image: url(../webimages/dark_icons/ssl_checker.svg);}
.icon_sty .pokemon_go{background-image: url(../webimages/dark_icons/pokemon_go.svg);}
.icon_sty .find_blog{background-image: url(../webimages/dark_icons/find_blog.svg);}
.icon_sty .geo_ip{background-image: url(../webimages/dark_icons/geo_ip.svg);}
.icon_sty .apps_rank{background-image: url(../webimages/dark_icons/apps_rank.svg);}
.icon_sty .my_browser{background-image: url(../webimages/dark_icons/my_browser.svg);}
.icon_sty .social_status{background-image: url(../webimages/dark_icons/social_status.svg);}
.icon_sty .my_ip{background-image: url(../webimages/dark_icons/my_ip.svg);}
.icon_sty .ip_location{background-image: url(../webimages/dark_icons/ip_location.svg);}
.icon_sty .proxy_list{background-image: url(../webimages/dark_icons/proxy_list.svg);}
.icon_sty .domain_age{background-image: url(../webimages/dark_icons/domain_age.svg);}
.icon_sty .domain_authority{background-image: url(../webimages/dark_icons/domain_authority.svg);}
.icon_sty .domain_lookup{background-image: url(../webimages/dark_icons/domain_lookup.svg);}
.icon_sty .domain_hosting{background-image: url(../webimages/dark_icons/domain_hosting.svg);}
.icon_sty .find_dns{background-image: url(../webimages/dark_icons/find_dns.svg);}
.icon_sty .domain_name{background-image: url(../webimages/dark_icons/domain_name.svg);}
.icon_sty .domain_ip{background-image: url(../webimages/dark_icons/domain_ip.svg);}
.icon_sty .check_blacklist{background-image: url(../webimages/dark_icons/check_blacklist.svg);}
.icon_sty .expired_domain{background-image: url(../webimages/dark_icons/expired_domain.svg);}
.icon_sty .bulk_domain{background-image: url(../webimages/dark_icons/bulk_domain.svg);}
.icon_sty .index_pages{background-image: url(../webimages/dark_icons/index_pages.svg);}
.icon_sty .meta_analyzer{background-image: url(../webimages/dark_icons/meta_analyzer.svg);}
.icon_sty .meta_generator{background-image: url(../webimages/dark_icons/meta_generator.svg);}
.icon_sty .password_encryption{background-image: url(../webimages/dark_icons/password_encryption.svg);}
.icon_sty .password_strength{background-image: url(../webimages/dark_icons/password_strength.svg);}
.icon_sty .password_generator{background-image: url(../webimages/dark_icons/password_generator.svg);}
.icon_sty .merge_pdf{background-image: url(../webimages/dark_icons/merge_pdf.svg);}
.icon_sty .rotate_pdf{background-image: url(../webimages/dark_icons/rotate_pdf.svg);}
.icon_sty .unlock_pdf{background-image: url(../webimages/dark_icons/unlock_pdf.svg);}
.icon_sty .lock_pdf{background-image: url(../webimages/dark_icons/lock_pdf.svg);}
.icon_sty .watermark{background-image: url(../webimages/dark_icons/watermark.svg);}
.icon_sty .pdf_word{background-image: url(../webimages/dark_icons/pdf_word.svg);}
.icon_sty .word_pdf{background-image: url(../webimages/dark_icons/word_pdf.svg);}
.icon_sty .pdf_jpg{background-image: url(../webimages/dark_icons/pdf_jpg.svg);}
.icon_sty .jpg_pdf{background-image: url(../webimages/dark_icons/jpg_pdf.svg);}
.icon_sty .powerpoint_pdf{background-image: url(../webimages/dark_icons/powerpoint_pdf.svg);}
.icon_sty .compress_pdf{background-image: url(../webimages/dark_icons/compress_pdf.svg);}
.icon_sty .excel_pdf{background-image: url(../webimages/dark_icons/excel_pdf.svg);}
.icon_sty .split_pdf{background-image: url(../webimages/dark_icons/split_pdf.svg);}
.icon_sty .json_viewer{background-image: url(../webimages/dark_icons/json_viewer.svg);}
.icon_sty .json_formatter{background-image: url(../webimages/dark_icons/json_formatter.svg);}
.icon_sty .json_validator{background-image: url(../webimages/dark_icons/json_validator.svg);}
.icon_sty .json_editor{background-image: url(../webimages/dark_icons/json_editor.svg);}
.icon_sty .json_xml{background-image: url(../webimages/dark_icons/json_xml.svg);}
.icon_sty .json_beautifier{background-image: url(../webimages/dark_icons/json_beautifier.svg);}
.icon_sty .unit_converter{background-image: url(../webimages/dark_icons/unit_converter.svg);}
.icon_sty .time_converter{background-image: url(../webimages/dark_icons/time_converter.svg);}
.icon_sty .power_converter{background-image: url(../webimages/dark_icons/power_converter.svg);}
.icon_sty .speed_converter{background-image: url(../webimages/dark_icons/speed_converter.svg);}
.icon_sty .volume_conversion{background-image: url(../webimages/dark_icons/volume_conversion.svg);}
.icon_sty .length_converter{background-image: url(../webimages/dark_icons/length_converter.svg);}
.icon_sty .voltage_converter{background-image: url(../webimages/dark_icons/voltage_converter.svg);}
.icon_sty .area_converter{background-image: url(../webimages/dark_icons/area_converter.svg);}
.icon_sty .weight_converter{background-image: url(../webimages/dark_icons/weight_converter.svg);}
.icon_sty .byte_converter{background-image: url(../webimages/dark_icons/byte_converter.svg);}
.icon_sty .temperature_conversion{background-image: url(../webimages/dark_icons/temperature_conversion.svg);}
.icon_sty .torque_converter{background-image: url(../webimages/dark_icons/torque_converter.svg);}
.icon_sty .pressure_conversion{background-image: url(../webimages/dark_icons/pressure_conversion.svg);}
.icon_sty .text_binary{background-image: url(../webimages/dark_icons/text_binary.svg);}
.icon_sty .binary_text{background-image: url(../webimages/dark_icons/binary_text.svg);}
.icon_sty .binary_hex{background-image: url(../webimages/dark_icons/binary_hex.svg);}
.icon_sty .hex_binary{background-image: url(../webimages/dark_icons/hex_binary.svg);}
.icon_sty .binary_ascii{background-image: url(../webimages/dark_icons/binary_ascii.svg);}
.icon_sty .ascii_binary{background-image: url(../webimages/dark_icons/ascii_binary.svg);}
.icon_sty .binary_decimal{background-image: url(../webimages/dark_icons/binary_decimal.svg);}
.icon_sty .decimal_binary{background-image: url(../webimages/dark_icons/decimal_binary.svg);}
.icon_sty .text_ascii{background-image: url(../webimages/dark_icons/text_ascii.svg);}
.icon_sty .decimal_hex{background-image: url(../webimages/dark_icons/decimal_hex.svg);}
.icon_sty .age_calculator{background-image: url(../webimages/dark_icons/age_calculator.svg);}
.icon_sty .percentage_calculator{background-image: url(../webimages/dark_icons/percentage_calculator.svg);}
.icon_sty .average_calculator{background-image: url(../webimages/dark_icons/average_calculator.svg);}
.icon_sty .confidence_interval_calculator{background-image: url(../webimages/dark_icons/confidence_interval_calculator.svg);}
.icon_sty .sales_tax_calculator{background-image: url(../webimages/dark_icons/sales_tax_calculator.svg);}
.icon_sty .margin_calculator{background-image: url(../webimages/dark_icons/margin_calculator.svg);}
.icon_sty .probability_calculator{background-image: url(../webimages/dark_icons/probability_calculator.svg);}
.icon_sty .paypal_fee_calculator{background-image: url(../webimages/dark_icons/paypal_fee_calculator.svg);}
.icon_sty .discount_calculator{background-image: url(../webimages/dark_icons/discount_calculator.svg);}
.icon_sty .earnings_per_share_calculator{background-image: url(../webimages/dark_icons/earnings_per_share_calculator.svg);}
.icon_sty .cpm_calculator{background-image: url(../webimages/dark_icons/cpm_calculator.svg);}
.icon_sty .loan_to_value_calculator{background-image: url(../webimages/dark_icons/loan_to_value_calculator.svg);}
.icon_sty .gst_calculator{background-image: url(../webimages/dark_icons/gst_calculator.svg);}
.icon_sty .roman_numerals_date_converter{background-image: url(../webimages/dark_icons/roman_numerals_date_converter.svg);}
.icon_sty .credit_card_validator{background-image: url(../webimages/dark_icons/credit_card_validator.svg);}
.icon_sty .text_to_speech{background-image: url(../webimages/dark_icons/text_to_speech.svg);}
.icon_sty .jpg_to_word{background-image: url(../webimages/dark_icons/jpg_to_word.svg);}
.icon_sty .small_text_generator{background-image: url(../webimages/dark_icons/small_text_generator.svg);}
.icon_sty .online_text_editor{background-image: url(../webimages/dark_icons/online_text_editor.svg);}
.icon_sty .reverse_text_generator{background-image: url(../webimages/dark_icons/reverse_text_generator.svg);}
.icon_sty .online_php_formatter{background-image: url(../webimages/dark_icons/online_php_formatter.svg);}
.icon_sty .html_formatter{background-image: url(../webimages/dark_icons/html_formatter.svg);}
.icon_sty .online_html_editor{background-image: url(../webimages/dark_icons/online_html_editor.svg);}
.icon_sty .html_viewer{background-image: url(../webimages/dark_icons/html_viewer.svg);}
.icon_sty .xml_formatter{background-image: url(../webimages/dark_icons/xml_formatter.svg);}
.icon_sty .xml_beautifier{background-image: url(../webimages/dark_icons/xml_beautifier.svg);}
.icon_sty .dailymotion_video_downloader{background-image: url(../webimages/dark_icons/dailymotion.svg);}
.icon_sty .bmi_calculator{background-image: url(../webimages/dark_icons/bmi_calculator.svg);}
.icon_sty .speech_to_text{background-image: url(../webimages/dark_icons/speech_to_text.svg);}
.icon_sty .fake_name_generator{background-image: url(../webimages/dark_icons/fake_name_generator.svg);}
.icon_sty .fake_address_generator{background-image: url(../webimages/dark_icons/fake_address_generator.svg);}
.icon_sty .credit_card_generator{background-image: url(../webimages/dark_icons/credit_card_generator.svg);}
.icon_sty .compress_jpeg_to_50kb{background-image: url(../webimages/dark_icons/compress_jpeg_to_50kb.svg);}
.icon_sty .compress_image_to_20kb{background-image: url(../webimages/dark_icons/compress_image_to_20kb.svg);}
.icon_sty .compress_jpeg_to_100kb{background-image: url(../webimages/dark_icons/compress_jpeg_to_100kb.svg);}
.icon_sty .compress_jpeg_to_200kb{background-image: url(../webimages/dark_icons/compress_jpeg_to_200kb.svg);}
.icon_sty .compress_jpg{background-image: url(../webimages/dark_icons/compress_jpg.svg);}
.icon_sty .compress_pdf_to_100kb{background-image: url(../webimages/dark_icons/compress_pdf_to_100kb.svg);}
.icon_sty .compress_pdf_to_200kb{background-image: url(../webimages/dark_icons/compress_pdf_to_200kb.svg);}
.icon_sty .compress_pdf_to_300kb{background-image: url(../webimages/dark_icons/compress_pdf_to_300kb.svg);}
.icon_sty .compress_pdf_to_500kb{background-image: url(../webimages/dark_icons/compress_pdf_to_500kb.svg);}


.icon_sty .logo_maker{background-image: url(../webimages/dark_icons/logo_maker.svg);}
.icon_sty .resume_builder{background-image: url(../webimages/dark_icons/resume_builder.svg);}
.icon_sty .flyer_maker{background-image: url(../webimages/dark_icons/flyer_maker.svg);}
.icon_sty .poster_maker{background-image: url(../webimages/dark_icons/poster_maker.svg);}
.icon_sty .invitation_maker{background-image: url(../webimages/dark_icons/invitation_maker.svg);}
.icon_sty .business_card_maker{background-image: url(../webimages/dark_icons/business_card_maker.svg);}
.icon_sty .meme_generator{background-image: url(../webimages/dark_icons/meme_generator.svg);}
.icon_sty .pdf_to_zip{background-image: url(../webimages/dark_icons/pdf_to_zip.svg);}
.icon_sty .delete_pages_from_pdf{background-image: url(../webimages/dark_icons/delete_pages_from_pdf.svg);}
.icon_sty .pdf_to_bmp{background-image: url(../webimages/dark_icons/pdf_to_bmp.svg);}
.icon_sty .gif_to_pdf{background-image: url(../webimages/dark_icons/gif_to_pdf.svg);}
.icon_sty .pdf_to_tiff{background-image: url(../webimages/dark_icons/pdf_to_tiff.svg);}
.icon_sty .tiff_to_pdf{background-image: url(../webimages/dark_icons/tiff_to_pdf.svg);}
.icon_sty .png_to_pdf{background-image: url(../webimages/dark_icons/png_to_pdf.svg);}
.icon_sty .binary_translator{background-image: url(../webimages/dark_icons/binary_translator.svg);}
.icon_sty .resize_image_to_50kb{background-image: url(../webimages/dark_icons/resize_image_to_50kb.svg);}
.icon_sty .resize_image_to_100kb{background-image: url(../webimages/dark_icons/resize_image_to_100kb.svg);}
#design_studio_box .icon_sty div{background-color: #202223;}
.icon_sty .reduce_image_size_in_kb{background-image: url(../webimages/dark_icons/reduce_image_size_in_kb.svg);}
.icon_sty .twitter_video_downloader{background-image: url(../webimages/dark_icons/twitter_video_downloader.svg);}
.icon_sty .tiktok_video_downloader{background-image: url(../webimages/dark_icons/tiktok_video_downloader.svg);}
.icon_sty .twitter_gif_downloader{background-image: url(../webimages/dark_icons/twitter_gif_downloader.svg);}
.icon_sty .instagaram_reels_download{background-image: url(../webimages/dark_icons/instagram_reels_download.svg);}
.icon_sty .chronological_age_calculator{background-image: url(../webimages/dark_icons/chronological_age_calculator.svg);}
.icon_sty .pdf_to_png{background-image: url(../webimages/dark_icons/pdf_to_png.svg);}
.icon_sty .bmp_to_pdf{background-image: url(../webimages/dark_icons/bmp_to_pdf.svg);}
.icon_sty .svg_to_pdf{background-image: url(../webimages/dark_icons/svg_to_pdf.svg);}
.icon_sty .pdf_to_svg{background-image: url(../webimages/dark_icons/pdf_to_svg.svg);}
.icon_sty .add_link_to_pdf{background-image: url(../webimages/dark_icons/add_link_to_pdf.svg);}
.icon_sty .pdf_to_gif{background-image: url(../webimages/dark_icons/pdf_to_gif.svg);}
.icon_sty .pdf_to_emf{background-image: url(../webimages/dark_icons/pdf_to_emf.svg);}
.icon_sty .emf_to_pdf{background-image: url(../webimages/dark_icons/emf_to_pdf.svg);}
.icon_sty .add_table_of_contents_to_pdf{background-image: url(../webimages/dark_icons/add_table_of_contents_to_pdf.svg);}
.icon_sty .pdf_to_wmf{background-image: url(../webimages/dark_icons/pdf_to_wmf.svg);}
.icon_sty .pdf_to_ico{background-image: url(../webimages/dark_icons/pdf_to_ico.svg);}
.icon_sty .add_header_footer_pdf{background-image: url(../webimages/dark_icons/add_header_footer_pdf.svg);}
.icon_sty .wmf_to_pdf{background-image: url(../webimages/dark_icons/wmf_to_pdf.svg);}
.icon_sty .add_page_numbers_to_pdf{background-image: url(../webimages/dark_icons/add_page_numbers_to_pdf.svg);}
.icon_sty .exif_to_pdf{background-image: url(../webimages/dark_icons/exif_to_pdf.svg);}
.icon_sty .ico_to_pdf{background-image: url(../webimages/dark_icons/ico_to_pdf.svg);}
.icon_sty .pdf_to_exif{background-image: url(../webimages/dark_icons/pdf_to_exif.svg);}
.icon_sty .tiktok_to_mp4{background-image: url(../webimages/dark_icons/tiktok_to_mp4.svg);}
.icon_sty .instagram_to_mp4{background-image: url(../webimages/dark_icons/instagram_to_mp4.svg);}
.icon_sty .loan_calculator{background-image: url(../webimages/dark_icons/loan_calculator.svg);}
.icon_sty .calorie_calculator{background-image: url(../webimages/dark_icons/calorie_calculator.svg);}
.icon_sty .time_calculator{background-image: url(../webimages/dark_icons/time_calculator.svg);}
.icon_sty .hours_calculator{background-image: url(../webimages/dark_icons/hours_calculator.svg);}
.icon_sty .grade_calculator{background-image: url(../webimages/dark_icons/grade_calculator.svg);}
.icon_sty .gpa_calculator{background-image: url(../webimages/dark_icons/gpa_calculator.svg);}
.icon_sty .tdee_calculator{background-image: url(../webimages/dark_icons/tdee_calculator.svg);}
.icon_sty .salary_calculator{background-image: url(../webimages/dark_icons/salary_calculator.svg);}
.icon_sty .investment_calculator{background-image: url(../webimages/dark_icons/investment_calculator.svg);}
.icon_sty .percentage_increase_calculator{background-image: url(../webimages/dark_icons/percentage_increase_calculator.svg);}
.icon_sty .percentage_decrease_calculator{background-image: url(../webimages/dark_icons/percentage_decrease_calculator.svg);}
.icon_sty .percentage_change_calculator{background-image: url(../webimages/dark_icons/percentage_change_calculator.svg);}
.icon_sty .percentage_difference_calculator{background-image: url(../webimages/dark_icons/percentage_difference_calculator.svg);}
.icon_sty .ai_content_detector{background-image: url(../webimages/dark_icons/ai_content_detector.svg);}
.icon_sty .hex_text{background-image: url(../webimages/dark_icons/hex_text.svg);}
.icon_sty .ascii_text{background-image: url(../webimages/dark_icons/ascii_text.svg);}
.icon_sty .heic_png{background-image: url(../webimages/dark_icons/heic_png.svg);}
.icon_sty .convert_svg{background-image: url(../webimages/dark_icons/convert_svg.svg);}
.icon_sty .png_svg{background-image: url(../webimages/dark_icons/png_svg.svg);}
.icon_sty .jpg_svg{background-image: url(../webimages/dark_icons/jpg_svg.svg);}
.icon_sty .jpeg_svg{background-image: url(../webimages/dark_icons/jpeg_svg.svg);}
.icon_sty .webp_png{background-image: url(../webimages/dark_icons/webp_png.svg);}
.icon_sty .svg_png{background-image: url(../webimages/dark_icons/svg_png.svg);}
.icon_sty .png_ico{background-image: url(../webimages/dark_icons/png_ico.svg);}
.icon_sty .avif_jpg{background-image: url(../webimages/dark_icons/avif_jpg.svg);}
.icon_sty .essay_writer{background-image: url(../webimages/dark_icons/essay_writer.svg);}
.icon_sty .ai_writer{background-image: url(../webimages/dark_icons/ai_writer.svg);}
.icon_sty .ai_text_generator{background-image: url(../webimages/dark_icons/ai_writer.svg);}
.icon_sty .title_generator{background-image: url(../webimages/dark_icons/title_generator.svg);}
.icon_sty .essay_title_generator{background-image: url(../webimages/dark_icons/essay_title_generator.svg);}
.icon_sty .thesis_statement_generator{background-image: url(../webimages/dark_icons/thesis_statement_generator.svg);}
.icon_sty .ai_story_generator{background-image: url(../webimages/dark_icons/ai_story_generator.svg);}
.icon_sty .conclusion_generator{background-image: url(../webimages/dark_icons/conclusion_generator.svg);}
.icon_sty .chatgpt_detector{background-image: url(../webimages/dark_icons/chatgpt_detector.svg);}
.icon_sty .citation_generator{background-image: url(../webimages/dark_icons/citation_generator.svg);}
.icon_sty .ai_humanizer{background-image: url(../webimages/dark_icons/ai_humanizer.svg);}
.icon_sty .pinterest_video_downloader{background-image: url(../webimages/dark_icons/pinterest_video_downloader.svg);}
.icon_sty .reddit_video_downloader{background-image: url(../webimages/dark_icons/reddit_video_downloader.svg);}